<%# ヘッダー %>
<%= render "shared/header" %>

<%# メイン %>
<div class="main">
  <div class="title"><%= current_user.nickname %> さんの思い出</div>

  <%# テイスティングノート一覧 %>
  <div class="thumbnails">

      <% @notes.each_with_index do |note, index| %>
        <% if index % 3 == 0 %>
          <div class="thumbnails_block">
        <% end %>

        <%# サムネイル %>
        <%= link_to note_path(note) do %>
          <div class="thumbnail">
            <%# サムネイル: 画像 %>
            <div class="thumbnail_img">
              <% if note.images[0] != nil %>
                <%= image_tag note.images[0] %>
              <% else %>
                <%= image_tag "/images/blank.png" %>
              <% end %>
            </div>
            <%# サムネイル: 説明 %>
            <div class="thumbnail_text">
              <div class="thumbnail_text_top"> <p class="thumbnail_name"><%= note.name %></p> </div>
              <div class="thumbnail_text_bottom">
                <p class="thumbnail_style"><%= note.beer_style %></p>
                <p class="thumbnail_date"><%= note.created_at.strftime('%Y.%m.%d')  %></p>
              </div>
            </div>
          </div>
        <% end %>

        <% if index % 3 == 2 || index == @notes.length - 1 %>
          </div>
        <% end %>
      <% end %>
      
  </div>
  
</div>

<%# フッター %>
<%= render "shared/footer" %>
