<%# ヘッダー %>
<%= render "shared/header" %>

<%# メイン %>
<div class="main">
  <div class="create">

    <%= form_with model: @note, url: notes_path, local: true do |f| %>

      <%# エラーメッセージ %>
      <%= render 'shared/error_messages', model: f.object %>

      <%# 画像(複数指定) %>
      <div class="#">画像</div>
      <div>
        <%= f.label :images, '画像1' %>
        <%= f.file_field :images, multiple: true %>
        <%= f.label :images, '画像2' %>
        <%= f.file_field :images, multiple: true %>
        <%= f.label :images, '画像3' %>
        <%= f.file_field :images, multiple: true %>
      </div>

      <div class="#">ビール名</div>
      <%= f.text_field :name,    class:"#", id:"note-name", placeholder:"ビール名（40文字まで)", maxlength:"40" %>
      <div class="#">ブルワリー</div>
      <%= f.text_field :brewery, class:"#", id:"note-name", placeholder:"ブルワリー名（40文字まで)", maxlength:"40" %>
      <div class="#">ビアスタイル</div>
      <%= f.text_field :beer_style, class:"#", id:"note-name", placeholder:"ビアスタイル（40文字まで)", maxlength:"40" %>
      <div class="#">SRM</div>
      <%= f.text_field :srm,     class:"#", id:"note-name", placeholder:"SRM（数値)", maxlength:"40" %>
      <div class="#">IBU</div>
      <%= f.text_field :ibu,     class:"#", id:"note-name", placeholder:"IBU（数値)", maxlength:"40" %>
      <div class="#">ABV</div>
      <%= f.text_field :abv,     class:"#", id:"note-name", placeholder:"アルコール度数[%]", maxlength:"40" %>


      <%#####################################################
        # 外観
        ##################################################### %>
      <div class="#" style="font-weight: bold">外観</div>

      <div class="#">透明度</div>
      <div>
        <% LooksClear.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :looks_clear_id , LooksClear.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :looks_clear_id , LooksClear.data[index][:id] %>
          <% end %>
          <%= f.label :looks_clear_id , LooksClear.data[index][:name], value: LooksClear.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">色</div>
      <div>
        <% LooksColor.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :looks_color_id , LooksColor.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :looks_color_id , LooksColor.data[index][:id] %>
          <% end %>
          <%= f.label :looks_color_id , LooksColor.data[index][:name], value: LooksColor.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">泡立ち</div>
      <div>
        <% LooksFoam.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :looks_foam_id , LooksFoam.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :looks_foam_id , LooksFoam.data[index][:id] %>
          <% end %>
          <%= f.label :looks_foam_id , LooksFoam.data[index][:name], value: LooksFoam.data[index][:id] %>
        <% end %>
      </div>



      <%#####################################################
        # アロマ
        ##################################################### %>
      <div class="#" style="font-weight: bold">アロマ</div>
      <div class="#">モルト</div>
      <div>
        <% AromaMalt.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_malt_id , AromaMalt.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_malt_id , AromaMalt.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_malt_id , AromaMalt.data[index][:name], value: AromaMalt.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">ホップ</div>
      <div>
        <% AromaHop.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_hop_id , AromaHop.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_hop_id , AromaHop.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_hop_id , AromaHop.data[index][:name], value: AromaHop.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">エステル</div>
      <div>
        <% AromaEster.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_ester_id , AromaEster.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_ester_id , AromaEster.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_ester_id , AromaEster.data[index][:name], value: AromaEster.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">フルーティー</div>
      <div>
        <% AromaFruit.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_fruit_id , AromaFruit.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_fruit_id , AromaFruit.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_fruit_id , AromaFruit.data[index][:name], value: AromaFruit.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">その他</div>
      <div>
        <% AromaOther.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_other_id , AromaOther.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_other_id , AromaOther.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_other_id , AromaOther.data[index][:name], value: AromaOther.data[index][:id] %>
        <% end %>
      </div>

      <%#####################################################
        # フレーバー
        ##################################################### %>
      <div class="#" style="font-weight: bold">フレーバー</div>

      <div class="#">ボディ</div>
      <div>
        <% FlavorBody.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_body_id , FlavorBody.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_body_id , FlavorBody.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_body_id , FlavorBody.data[index][:name], value: FlavorBody.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">カーボネーション</div>
      <div>
        <% FlavorCarbonation.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_carbonation_id , FlavorCarbonation.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_carbonation_id , FlavorCarbonation.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_carbonation_id , FlavorCarbonation.data[index][:name], value: FlavorCarbonation.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">モルトの甘み</div>
      <div>
        <% FlavorMalt.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_malt_id , FlavorMalt.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_malt_id , FlavorMalt.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_malt_id , FlavorMalt.data[index][:name], value: FlavorMalt.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">ホップの苦味</div>
      <div>
        <% FlavorHop.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_hop_id , FlavorHop.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_hop_id , FlavorHop.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_hop_id , FlavorHop.data[index][:name], value: FlavorHop.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">その他</div>
      <div>
        <% FlavorOther.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_other_id , FlavorOther.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_other_id , FlavorOther.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_other_id , FlavorOther.data[index][:name], value: FlavorOther.data[index][:id] %>
        <% end %>
      </div>


      <%#####################################################
        # メモ
        ##################################################### %>
      <div class="#">メモ(備考)</div>
      <%= f.text_area :memo, class:"#", id:"note-memo", placeholder:"メモ（1,000文字まで）", rows:"7", maxlength:"1000" %>


      <%#####################################################
        # 登録ボタン
        ##################################################### %>
      <%= f.submit "思い出に残す", class:"#" %>
    <% end %>

  </div>
</div>

<%# フッター %>
<%= render "shared/footer" %>
