<%# ヘッダー %>
<%= render "shared/header" %>

<%# メイン %>
<div class="main">
  <div class="title">思い出を残す</div>

  <div class="create">

    <%= form_with model: @note, url: notes_path, id: "new_note", local: true do |f| %>

      <%# エラーメッセージ %>
      <%= render 'shared/error_messages', model: f.object %>

      <%#####################################################
        # 画像(複数指定)
        ##################################################### %>
      <div class="edit-block">
        <div class="edit-title">写真(3枚まで)</div>
        <div class="edit-img-forms">

          <%# 画像選択フォーム %>
          <% (1..3).each do |index| %>
            <div class="edit-img-form">
              <div class="edit-img-view" id="previews<%=index%>">
                <%# TODO: フォームで選択した画像を表示 %>
              </div>
              <div class="edit-img-button">
                <%= f.label :images, value: "#{index}", class: "edit-img-form-label" do %>
                  <p>写真<%= index %></p>
                  <%= f.file_field :images, multiple: true, class: "edit-img-form-file", id: "note_images_#{index}" %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <%#####################################################
        # 概要
        ##################################################### %>
      <div class="edit-block">
        <div class="edit-title">概要</div>
        <div class="edit-summary">
          <div>
            <div class="edit-summary-title">ビール名</div>
            <%= f.text_field :name, class:"edit-summary-text-field", id:"note-name", placeholder:"ビールの銘柄、商品名など", maxlength:"50" %>
          </div>
          <div>
            <div class="edit-summary-title">ブルワリー</div>
            <%= f.text_field :brewery, class:"edit-summary-text-field", id:"note-name", placeholder:"ブルワリー(醸造所)、販売元の名前", maxlength:"50" %>
          </div>
          <div>
            <div class="edit-summary-title">ビアスタイル</div>
            <%= f.text_field :beer_style, class:"edit-summary-text-field", id:"note-name", placeholder:"ビールの種類", maxlength:"50" %>
          </div>
          <div>
            <div class="edit-summary-title">SRM</div>
            <%= f.text_field :srm, class:"edit-summary-text-field", id:"note-name", placeholder:"Standard Reference Method(数値)", maxlength:"50" %>
          </div>
          <div>
            <div class="edit-summary-title">IBU</div>
            <%= f.text_field :ibu, class:"edit-summary-text-field", id:"note-name", placeholder:"International Bitterness Units(数値)", maxlength:"50" %>
          </div>
          <div>
            <div class="edit-summary-title">ABV</div>
            <%= f.text_field :abv, class:"edit-summary-text-field", id:"note-name", placeholder:"アルコール度数[%]", maxlength:"50" %>
          </div>
        </div>
      </div>

      <%#####################################################
        # 外観
        ##################################################### %>
      <div class="edit-block">
        <div class="edit-title">外観</div>

        <div>

          <div class="#">透明度</div>
          <div>
            <% LooksClear.all.length.times do |index| %>
              <%= f.label :looks_clear_id, value: LooksClear.data[index][:id] do %>
                <%= LooksClear.data[index][:name] %>
                <% if index == 0 %>
                  <%= f.radio_button :looks_clear_id , LooksClear.data[index][:id], checked: true %>
                <% else %>
                  <%= f.radio_button :looks_clear_id , LooksClear.data[index][:id] %>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div>
            <%# LooksClear.all.length.times do |index| %>
              <%# if index == 0 %>
                <%#= f.radio_button :looks_clear_id , LooksClear.data[index][:id], checked: true %>
              <%# else %>
                <%#= f.radio_button :looks_clear_id , LooksClear.data[index][:id] %>
              <%# end %>
              <%#= f.label :looks_clear_id , LooksClear.data[index][:name], value: LooksClear.data[index][:id] %>
            <%# end %>
          </div>

          <div class="#">色</div>
          <div>
            <% LooksColor.all.length.times do |index| %>
              <% if index == 0 %>
                <%= f.radio_button :looks_color_id , LooksColor.data[index][:id], checked: true %>
              <% else %>
                <%= f.radio_button :looks_color_id , LooksColor.data[index][:id] %>
              <% end %>
              <%= f.label :looks_color_id , LooksColor.data[index][:name], value: LooksColor.data[index][:id] %>
            <% end %>
          </div>

          <div class="#">泡立ち</div>
          <div>
            <% LooksFoam.all.length.times do |index| %>
              <% if index == 0 %>
                <%= f.radio_button :looks_foam_id , LooksFoam.data[index][:id], checked: true %>
              <% else %>
                <%= f.radio_button :looks_foam_id , LooksFoam.data[index][:id] %>
              <% end %>
              <%= f.label :looks_foam_id , LooksFoam.data[index][:name], value: LooksFoam.data[index][:id] %>
            <% end %>
          </div>

        </div>
      </div>


      <%#####################################################
        # アロマ
        ##################################################### %>
      <div class="#" style="font-weight: bold">アロマ</div>
      <div class="#">モルト</div>
      <div>
        <% AromaMalt.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_malt_id , AromaMalt.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_malt_id , AromaMalt.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_malt_id , AromaMalt.data[index][:name], value: AromaMalt.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">ホップ</div>
      <div>
        <% AromaHop.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_hop_id , AromaHop.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_hop_id , AromaHop.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_hop_id , AromaHop.data[index][:name], value: AromaHop.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">エステル</div>
      <div>
        <% AromaEster.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_ester_id , AromaEster.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_ester_id , AromaEster.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_ester_id , AromaEster.data[index][:name], value: AromaEster.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">フルーティー</div>
      <div>
        <% AromaFruit.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_fruit_id , AromaFruit.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_fruit_id , AromaFruit.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_fruit_id , AromaFruit.data[index][:name], value: AromaFruit.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">その他</div>
      <div>
        <% AromaOther.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :aroma_other_id , AromaOther.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :aroma_other_id , AromaOther.data[index][:id] %>
          <% end %>
          <%= f.label :aroma_other_id , AromaOther.data[index][:name], value: AromaOther.data[index][:id] %>
        <% end %>
      </div>

      <%#####################################################
        # フレーバー
        ##################################################### %>
      <div class="#" style="font-weight: bold">フレーバー</div>

      <div class="#">ボディ</div>
      <div>
        <% FlavorBody.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_body_id , FlavorBody.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_body_id , FlavorBody.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_body_id , FlavorBody.data[index][:name], value: FlavorBody.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">カーボネーション</div>
      <div>
        <% FlavorCarbonation.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_carbonation_id , FlavorCarbonation.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_carbonation_id , FlavorCarbonation.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_carbonation_id , FlavorCarbonation.data[index][:name], value: FlavorCarbonation.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">モルトの甘み</div>
      <div>
        <% FlavorMalt.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_malt_id , FlavorMalt.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_malt_id , FlavorMalt.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_malt_id , FlavorMalt.data[index][:name], value: FlavorMalt.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">ホップの苦味</div>
      <div>
        <% FlavorHop.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_hop_id , FlavorHop.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_hop_id , FlavorHop.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_hop_id , FlavorHop.data[index][:name], value: FlavorHop.data[index][:id] %>
        <% end %>
      </div>

      <div class="#">その他</div>
      <div>
        <% FlavorOther.all.length.times do |index| %>
          <% if index == 0 %>
            <%= f.radio_button :flavor_other_id , FlavorOther.data[index][:id], checked: true %>
          <% else %>
            <%= f.radio_button :flavor_other_id , FlavorOther.data[index][:id] %>
          <% end %>
          <%= f.label :flavor_other_id , FlavorOther.data[index][:name], value: FlavorOther.data[index][:id] %>
        <% end %>
      </div>


      <%#####################################################
        # メモ
        ##################################################### %>
      <div class="edit-block">
        <div class="edit-title">メモ(備考)</div>
        <div class="edit-memo">
          <%= f.text_area :memo, class:"edit-memo-form", id:"note-memo", placeholder:"メモ（1,000文字まで）", rows:"7", maxlength:"1000" %>
        </div>
      </div>


      <%#####################################################
        # 登録ボタン
        ##################################################### %>
      <%= f.submit "思い出に残す", class:"#" %>
    <% end %>

  </div>
</div>

<%# フッター %>
<%= render "shared/footer" %>
