<%# ヘッダー %>
<%= render "shared/header" %>

<%# メイン %>
<div class="main">
  <div class="detail">
    <div class="detail_title"><%= @note.name %></div>
    <div class="detail_images">
      <%# 画像1枚目 %>
      <div class="detail_image">
        <% if @note.images[0] != nil %>
          <%= image_tag @note.images[0] %>
        <% else %>
          <%= image_tag "/images/blank.png" %>
        <% end %>
      </div>
      <%# 画像2枚目 %>
      <div class="detail_image">
        <% if @note.images[1] != nil %>
          <%= image_tag @note.images[1] %>
        <% else %>
          <%= image_tag "/images/blank.png" %>
        <% end %>
      </div>
      <%# 画像3枚目 %>
      <div class="detail_image">
        <% if @note.images[2] != nil %>
          <%= image_tag @note.images[2] %>
        <% else %>
          <%= image_tag "/images/blank.png" %>
        <% end %>
      </div>
    </div>
    <div class="detail_charts">
      <div class="detail_chart"> <canvas id="looksChart"></canvas>  </div>
      <div class="detail_chart"> <canvas id="aromaChart"></canvas>  </div>
      <div class="detail_chart"> <canvas id="flavorChart"></canvas> </div>
    </div>
    <div class="detail_table">
      <table>
        <%#####################################################
          # ブルワリー
          ##################################################### %>
        <tr>
          <th class="table_item">ブルワリー</th>
          <td class="table_data">
            <% if @note.brewery != "" %>
              <%= @note.brewery %>
            <% else %>
              未登録
            <% end %>
          </td>
        </tr>
        <%#####################################################
          # ビアスタイル
          ##################################################### %>
        <tr>
          <th class="table_item">ビアスタイル</th>
          <td class="table_data">
            <% if @note.beer_style != "" %>
              <%= @note.beer_style %>
            <% else %>
              未登録
            <% end %>
          </td>
        </tr>
        <%#####################################################
          # SRM
          ##################################################### %>
        <tr>
          <th class="table_item">SRM</th>
          <td class="table_data">
            <% if @note.srm != nil %>
              <%= @note.srm %>
            <% else %>
              未登録
            <% end %>
          </td>
        </tr>
        <%#####################################################
          # IBU
          ##################################################### %>
        <tr>
          <th class="table_item">IBU</th>
          <td class="table_data">
            <% if @note.ibu != nil %>
              <%= @note.ibu %>
            <% else %>
              未登録
            <% end %>
          </td>
        </tr>
        <%#####################################################
          # ABV
          ##################################################### %>
        <tr>
          <th class="table_item">ABV</th>
          <td class="table_data">
            <% if @note.abv != nil %>
              <%= @note.abv %> %
            <% else %>
              未登録
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <%#####################################################
      # メモ
      ##################################################### %>
    <div class="detail_comment"><%= @note.memo %></div>
    <%#####################################################
      # 編集/削除 ボタン
      ##################################################### %>
    <div class="detail_buttons">
      <div class="detail_button"><%= link_to '修正する', edit_note_path(@note) %></div>
      <div class="detail_button"><%= link_to '忘れる', note_path(@note), method: :delete, data: {confirm: "削除しますか？"} %></div>
    </div>
  </div>

  <script>
    // 定数
    const type_looks  = 0;
    const type_aroma  = 1;
    const type_flavor = 2;
    // 外観
    const looks_label  = '外観';
    const looks_labels = ['透明度', '色', '泡立ち'];
    const looks_data   = [<%= @note.looks_clear_id %>, <%= @note.looks_color_id %>, <%= @note.looks_foam_id %>];
    const looksChart   = new Chart(
      document.getElementById('looksChart'),
      set_rader_chart_config(looks_label, looks_labels, looks_data, type_looks)
    );
    // アロマ
    const aroma_label  = 'アロマ';
    const aroma_labels = ['モルト', 'ホップ', 'エステル', 'フルーティー', 'その他'];
    const aroma_data   = [<%= @note.aroma_malt_id %>, <%= @note.aroma_hop_id %>, <%= @note.aroma_ester_id %>, <%= @note.aroma_fruit_id %>, <%= @note.aroma_other_id %>];
    const aromaChart   = new Chart(
      document.getElementById('aromaChart'),
      set_rader_chart_config(aroma_label, aroma_labels, aroma_data, type_aroma)
    );
    // フレーバー
    const flavor_label  = 'フレーバー';
    const flavor_labels = ['ボディ', 'カーボネーション', 'モルトの甘味', 'ホップの苦味', 'その他'];
    const flavor_data   = [<%= @note.flavor_body_id %>, <%= @note.flavor_carbonation_id %>, <%= @note.flavor_malt_id %>, <%= @note.flavor_hop_id %>, <%= @note.flavor_other_id %>];
    const flavorChart   = new Chart(
      document.getElementById('flavorChart'),
      set_rader_chart_config(flavor_label, flavor_labels, flavor_data, type_flavor)
    );

    // チャートデータ作成
    function set_rader_chart_config(chart_label, chart_labels, chart_data, chart_type) {
      const chart_color = [
        [ 60, 179, 113], // 外観
        [255,  99, 132], // アロマの色
        [ 65, 105, 225]  // フレーバー
      ];

      // データ
      const data = {
        labels: chart_labels,
        datasets: [{
          label: chart_label,
          data: chart_data,
          fill: true,
          backgroundColor: `rgba(${chart_color[chart_type][0]}, ${chart_color[chart_type][1]}, ${chart_color[chart_type][2]}, 0.2)`,
          borderColor: `rgb(${chart_color[chart_type][0]}, ${chart_color[chart_type][1]}, ${chart_color[chart_type][2]})`,
          pointBackgroundColor: `rgb(${chart_color[chart_type][0]}, ${chart_color[chart_type][1]}, ${chart_color[chart_type][2]})`,
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: `rgb(${chart_color[chart_type][0]}, ${chart_color[chart_type][1]}, ${chart_color[chart_type][2]})`
        }]
      };
      // 設定
      const config = {
        type: 'radar',
        data: data,
        options: {
          elements: {
            line: {
              borderWidth: 3
            }
          },
          scale: {
            ticks: {
              min: 0,
              max: 3,
              stepSize: 1
            },
            suggestedMax: 3,
            suggestedMin:0
          }
        }
      };

      return config;
    }
  </script>
</div>

<%# フッター %>
<%= render "shared/footer" %>
