<header>
  <div class="logo">
    <a href="/">Remem<span class="logo-beer">BEER</span></a>
  </div>
  <div class="right-nav">

    <ul class="menu">
      <%# TODO: ログイン状態で表示を変更する %>
      <%# ログイン状態 %>
        <li class="user_name">（’・ω・｀）さん</li>
        <li><%= link_to 'ログアウト', '#' %></li>
      <%# ログアウト状態 %>
        <li><%= link_to 'ログイン', '#' %></li>
        <li><%= link_to '新規登録', '#' %></li>
      <%# ここまで %>
      <li class="test"><a href="#" class="ddmenu"><i class="fa-solid fa-bars"></i></a>
        <ul>
          <li><%= link_to '思い出一覧', notes_path %></li>
          <li><%= link_to '思い出す', '#' %></li>
        </ul>
      </li>
    </ul>

  </div>
</header>